# Backgroud Infommation

## Genre 

{{ genre }}

## Name & Occupation

{{ name_occupation }}

## Goal

{{ goal}}

## Consequeces for not achieving the goal

{{ dire_situation }}


# Story

## Introduction

{{ intro }}

## Chapter 1 

{{ action_1 }}

{{ action_1_reason }}

## Chapter 2

{{ action_2 }}

{{ action_2_reason }}

## Chapter 3

{{ action_3 }}

{{ action_3_reason }}


