# Backgroud Infommation

## Genre 

{{ genre }}

## Name & Occupation

{{ name_occupation }}

## Goal

{{ goal}}

## Consequeces for not achieving the goal

{{ dire_situation }}


# Story

{{ intro }}

{{ action_1 }}

{{ action_1_reason }}

